.body {
  overflow-y: auto;
  height: calc(100vh - 70px);
  width: 380px;
  min-width: 380px;
  box-shadow: 2px 9px 6px -2px rgba(0, 0, 0, 0.25);
  /* box-shadow: 10px 0 5px -2px #888; */
  background-color: white;
  position: relative;
}

.illustrationHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.illustrationHolder p {
  user-select: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 14px;
  color: #313030;
}
