.navbarLayout {
  display: flex;
  justify-content: space-between;
  padding: 21px 39px;
  height: 70px;
  border-bottom: 2px solid rgba(122, 121, 121, 0.13);
}

.navbarLogoText {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #494949;
  font-style: normal;
  cursor: pointer;
}

.navbarOptions {
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileDetails {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileDetails:hover p {
  text-decoration: underline;
}

.profileImage {
  border-radius: 50%;
}

.profileName {
  margin-left: 7px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
}
