.body {
  height: 168px;
  width: 100%;
  padding: 26px 38px;
}
.header {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.inputDiv {
  height: 66px;
  border: 0.4px solid #9a9a9a;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 21px;
}

.inputDiv input {
  width: 78%;
  height: 100%;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

.inputDiv input:active {
    border: none;
}
