.body {
  padding: 0px 38px;
}

.tabsHeader {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid #dcdbdb;
  display: flex;
  align-items: center;
}

.tabsHeader h4 {
  width: 160px;
  margin: 0px;
  font-size: 18px;
}

.tab {
  padding: 15px 28px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab:not(.active):hover {
  border-bottom: 3px solid #e6e6e6;
  margin-bottom: -3px;
}

.active {
  border-bottom: 3px solid #3d98e7;
  margin-bottom: -3px;
}
